<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Payment</title>
<link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
</head>
<body>
<div>
<h2>Payment Confirmation</h2>

<h3>Flight:</h3>
<p>
<span th:text="${flight.origin}"></span>
<span th:text="${flight.destination}"></span>
</p>

<p>
<span th:text="${reservation.departure_date}"></span>
<span th:text="${reservation.no_of_passengers}"></span>
<span th:text="${reservation.total_price}"></span>
</p>

<form th:action="@{/checkout}" method="post">

<label>Payment Method:</label>
        <select name="paymentMethod" required>
            <option value="Credit Card">Credit Card</option>
            <option value="Debit Card">Debit Card</option>
            <option value="PayPal">PayPal</option>
        </select><br><br>

    <label>Card Number:</label>
    <input type="text" name="cardNumber" required><br>
    
    <label>Cardholder Name:</label>
    <input type="text" name="cardholderName" required><br>

    <label>Expiry Date:</label>
    <input type="text" name="expiryDate" placeholder="MM/YY" required><br>

    <label>CVV:</label>
    <input type="text" name="cvv" required><br>

    <button type="submit">Confirm Payment</button>
</form>

<a th:href="@{/reservation}"><button>Cancel</button></a>

</div>

</body>
</html>