<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Login</title>
</head>
<body>
<div>
<h2>Login</h2>
<form th:action="@{/login}" th:object="${passenger}" method="post">

<label for="email">Email</label>
<input type="email" th:field="*{email}" required>

<label for="password">Password</label>
<input type="password" th:field="*{password}" required>

<button type="submit">Login</button>
</form>

<p>Don't have an Account?<a th:href="@{/signup}">Create an Account</a></p>
</div>
</body>
</html>