<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Register</title>
</head>
<body>
<div>
<h2>Create an Account</h2>

<div th:if="${error}" style="color: red;">
    <p th:text="${error}"></p>
</div>

<form th:action="@{/register}" th:object="${passenger}" method="post">
<input type="hidden" th:field="*{passenger_id}">

<label for="firstname">First Name</label>
<input type="text" th:field="*{firstname}" id="firstname">
<span th:if="${#fields.hasErrors('firstname')}" th:errors="*firstname"></span>

<label for="lastname">Last Name</label>
<input type="text" th:field="*{lastname}" id="lastname">
<span th:if="${#fields.hasErrors('lastname')}" th:errors="*lastname"></span>

<label for="email">Email</label>
<input type="email" th:field="*{email}" id="email">
<span th:if="${#fields.hasErrors('email')}" th:errors="*email"></span>

<label for="password">Password</label>
<input type="password" th:field="*{password}" id="password">
<span th:if="${#fields.hasErrors('password')}" th:errors="*password"></span>

<label for="address">Address</label>
<input type="text" th:field="*{address}" id="address">
<span th:if="${#fields.hasErrors('address')}" th:errors="*address"></span>

<label for="city">City</label>
<input type="text" th:field="*{city}" id="city">
<span th:if="${#fields.hasErrors('city')}" th:errors="*city"></span>

<label for="postalcode">Postal Code</label>
<input type="text" th:field="*{postalcode}" id="postalcode">
<span th:if="${#fields.hasErrors('postalcode')}" th:errors="*postalcode"></span>

<button type="submit">Register</button>
</form>

<p>Already have an Account? <a th:href="@{/signin}">Sign In</a></p>
<a th:href="@{/index}">Home</a>
</div>

</body>
</html>